---
import IconMessage from "@/icons/Icon_message.astro";
import { MailerSend, EmailParams, Sender, Recipient } from "mailersend";
const mailerSend = new MailerSend({ apiKey:'mlsn.fb3afe0aa7c9aad0d2ccc8dca263a1a0bf264ecd2bdb72752ce3b99ed1ef6d9a'});
if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const last_name = data.get('last_name');
    const email = data.get('tel');
    const tel = data.get('message')
    const message = data.get('message');
    const sentFrom = new Sender("MS_Mz42TJ@trial-vywj2lp7o7kl7oqz.mlsender.net", `${name}`)
    const recipients = [new Recipient("proyexapp@gmail.com", `${name}`)];
    const Cc = [new Recipient(`${email}`, `${name}`)]
    const reply = new Recipient(`${email}`, `${name}`)
    const messages = `Nombre: ${name} Apellido: ${last_name} telefono:${tel} email: ${email} mensaje:${message}`

    if(name !== '' && email !== ''){
        const emailParams = new EmailParams()
        .setFrom(sentFrom)
        .setTo(recipients)
        .setReplyTo(reply)
        .setSubject(`Soy ${name} ${last_name} y quiero cotizar un servicio`)
        .setHtml(messages)
        await mailerSend.email.send(emailParams)
    }
    } catch (error) {
        alert(error)
    }
    }
---
<div class="container">
    <form method="POST">
       <div class="flex-row">
            <div >
                <label for="name">Nombre</label>
                <input   type="text" name="name" id="name" placeholder="Nombre" required>
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="last_name" id="apellido" placeholder="Apellido" required>
            </div>
       </div>
        <div class="flex-row">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email"  placeholder="name@correo.com" required>
            </div>
            <div>
                <label for="tel">Telefono</label>
                <input type="tel"  name="tel" id="tel"  placeholder="(Código de área) Número" required>
            </div>
        </div>
        <div class="sm">
            <label for="message">Escribenos</label>
            <textarea  name="message" id="message" rows="7"   placeholder="Escribenos..."></textarea>
        </div>
        <div class="button">
            <button type="submit">
                <IconMessage color="var(--color_primario)" width="24" height="24"/>
                Enviar mensaje</button>
        </div>
       
    </form>
</div>


<style>
.container {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--color_primario);
    border-radius: var(--border-radius);
    box-shadow: var(--sombra_caja_2);
}
.flex-row {
    width: 100%;
    display: flex;
    flex-direction: column;
}
form {
    width: 100%;
}
form  div label {
    text-align: left;
    display: block; 
    margin-bottom: 0.5rem; 
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.25rem; 
    color: var(--color_terciario); 
}
form .flex-row div {
    width: 100%;
}
form .flex-row div input {
	display: block; 
	padding: 1rem; 
	border-radius: 0.5rem; 
	border:1px solid #D1D5DB; 
	width: 100%; 
	font-size:1rem;
	line-height: 1.25rem; 
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}

form .sm textarea {
	display: block; 
	padding: 0.625rem; 
	border-radius: 0.5rem; 
	border:1px solid #D1D5DB; 
    width: 100%;
	font-size: 1rem;
	line-height: 1.25rem; 
	background-color: #F9FAFB; 
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
	resize: none;
}
form .button {
    display: flex;
    justify-content: flex-end;
}
form button {
display: flex;
align-items: center;
gap: .7rem;
margin-top: .8rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
border-radius: 0.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
text-align: center; 
border: 0;
background-color: var(--color_terciario);
color: var(--color_primario); 
cursor: pointer;
}
@media (max-width: 576px) {
    form button { 
        width: 100%;
        justify-content: center;
    }
}
form button:hover {
    background-color: var(--color_secundario);
}


@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}
@media (min-width: 1200px) {
    .container {
        width: 50vw;
        padding: 2rem
    }
    .flex-row {
        flex-direction:row;
        gap:1rem
    }
    form .button {
    display: flex;
    justify-content: flex-end;
}
}
</style>